<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            //namespace (not mandatory to use )
            namespace = '/test';

            // Connect to the Socket.IO server

            var socket = io(namespace);

            // Event handler for new connection
            //server message
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });


            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });


            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);


            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

          //HANDLERS FOR FORM ELEMENTS
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#send_room').submit(function(event) {
                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            $('form#close').submit(function(event) {
                socket.emit('close_room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
            $('form#SendImage').submit(function(event) {
              file_data = open(filename, 'rb').read()
              socket.emit('my_image', {'filename': filename, 'data': file_data});
              return false;
            });
        });
    </script>
</head>
<body>
  <div class="container">
    <div class="container">

    <center><h1>Flask-SocketIO Chat App</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p></center>
  </div>

    <div class="form-group">

      <div class="row">
        <h2>Send:</h2>
    <div class="col">
      <div class="row">
    <div class="col-md-6">
     <form id="emit" method="POST" action='#'>
        <input type="text" class="form-control"  name="emit_data" id="emit_data" placeholder="Message"></div>
        <div class="col-md-6">
        <input class="btn btn-primary" type="submit" value="Echo">
      </div>
    </div>
    </form>
    <br>

  <div class="row">
    <div class="col-md-6">
    <form id="broadcast" method="POST" action='#'>
        <input type="text" class="form-control" name="broadcast_data" id="broadcast_data" placeholder="Message"></div>
        <div class="col-md-6">
        <input class="btn btn-primary" type="submit" value="Broadcast"></div>

    </form>
  </div>
    <br>

<div class="row">
  <div class="col-md-6">
    <form id="join" method="POST" action='#'>
        <input type="text" class="form-control" name="join_room" id="join_room" placeholder="Room Name"></div>
        <div class="col-md-6">
        <input type="submit" class="btn btn-success" value="Join Room"></div>
    </form>
    </div>
    <br>


    <div class="row">
      <div class="col-md-6">
    <form id="leave" method="POST" action='#'>
        <input type="text" class="form-control" name="leave_room" id="leave_room" placeholder="Room Name"></div>
        <div class="col-md-6">
        <input type="submit" class="btn btn-danger" value="Leave Room"></div>
    </form>
  </div>
  <br>


  <div class="row">
    <div class="col-md-4">
    <form id="send_room" method="POST" action='#'>
        <input type="text" class="form-control" name="room_name" id="room_name" placeholder="Room Name"></div>
        <div class="col-md-4">
        <input type="text" class="form-control" name="room_data" id="room_data" placeholder="Message"></div>
        <div class="col-md-4">
        <input type="submit" class="btn btn-primary" value="Send to Room"></div>

    </form>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
    <form id="close" method="POST" action="#">
        <input type="text" class="form-control" name="close_room" id="close_room" placeholder="Room Name"></div>
        <div class="col-md-6">
        <input type="submit" class="btn btn-danger" value="Close Room"></div>
    </form>
  </div>
  <br>


    <form id="disconnect" method="POST" action="#">
        <input type="submit" class="btn btn-secondary btn-lg btn-danger btn-block" value="Disconnect">
    </form>
  </div>

    <div class="col">
    <h2>Receive:</h2>

    <div id="log"></div>
  </div>
</div><br>



</body>
</html>
