<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>List of Employees</h2>
  {%for employee in emp %}


<p>{{ employee.name }} : {{ employee.city }} </p>


  {% endfor %}


  </body>
</html>
