<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}-{{user.status}}</title>
  </head>
  <body>
    <h1>Welcome {{user.username}}!</h1>
    <h2>{{user.status}}</h2>

  </body>
</html>
